<td>
    <%= link_to "Edit", edit_group_path(@group.id), class:"btn btn-sm btn-success" %>
</td>
<td>
    <%= link_to "Destroy", group_path(@group.id), method: :delete, class:"btn btn-sm btn-danger", "data-confirm" => "Are you sure?" %>
</td>