<div>
    <% if @book.errors.any? %>
        <%= @book.errors.count %> errors prohibited this obj 
        <ul>
          <% @book.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
    <% end %>
    
    <div class="container px-5 px-sm-0">
        <div class="row">
            <!--lefside-->
            <%= render 'user', user: @user, n_book: @n_book %>
            <!--rightside-->
            <div class="col-md-8 offset-md-1">
                <h2>Books</h2>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th> </th>
                            <th class="scope">Title</th>
                            <th class="scope">Opinion</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    <% @books.each do |book| %>
                        <tr>
                            <%= render 'detail', book: book %>
                        </tr>
                    </tbody>
                    <% end %>
                </table>
            </div>    
        </div>
    </div>
</div>
