<div class="container">
    <div class="row">
        <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
            <h1>Welcome to <i class="fas fa-book"></i>Bookers!</h1>
            <%= link_to 'ゲストログイン（閲覧用）', user_guest_sign_in_path, class: "btn btn-secondary btn-sm btn-block mb-3 sign_in", method: :post %>
            <a href="/users/sign_in" class="btn btn-block btn-info btn-sm">Log in</a>
            <a href="/users/sign_up" class="btn btn-block btn-success btn-sm">Sign up</a>
        </div>
    </div>
</div>